<div class="container" ng-controller="PlayerController as player">
    <div class="row" id="player-row-selection">
        <div class="col-xs-12 text-right">
            {{ 'Selected' | translate }}: {{ player.selectedMedia.filename }}
            <button id="add-to-playlist" type="button" class="btn btn-default btn-xs disabled" title="{{ 'Add to playlist' | translate }}">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div> <!-- .row -->
    <div class="row">
        <div class="col-xs-2">
            <button type="button" class="btn btn-default" ng-class="{ 'btn-primary': player.playerStatus.state !== 'playing', 'btn-warning': player.playerStatus.state === 'playing', disabled: player.selectedMedia === null }" id="play" title="{{ 'Play' | translate }}" ng-click="player.togglePlay()">
                <span class="glyphicon" ng-class="{ 'glyphicon-play': player.playerStatus.state !== 'playing', 'glyphicon-pause': player.playerStatus.state === 'playing' }"></span>
            </button>
        </div>
        <div class="col-xs-10">
            <div class="range">
                <input id="time-slider" type="range" max="{{ player.playerStatus.media.duration }}" min="0" step="1" name="range" ng-model="player.timeSlider" ng-change="player.seek()"></input>
            </div>
        </div>
    </div> <!-- .row -->
    <div class="row" id="player-playlist-controls">
        <div class="col-xs-3">
            <!--
            <button id="previous" type="button" class="btn btn-default btn-xs" title="{{ 'Previous' | translate }}" ng-click="player.toggleStop()">
                <span class="glyphicon" ng-class="{ 'glyphicon-step-backward': player.playerStatus.state !== 'playing', 'glyphicon-stop': player.playerStatus.state === 'playing' }"></span>
            </button>
            -->
        </div>
        <div class="col-xs-6 text-center">
            <div ng-show="player.playerStatus.media">
                {{ player.playerStatus.position | playerTime:player.playerStatus.media.duration }} /
                {{ player.playerStatus.media.duration | playerTime }}
                &ndash;
                {{ player.playerStatus.media.filename }}
            </div>
        </div>
        <div class="col-xs-3 text-right">
            <!--
            <button id="next" type="button" class="btn btn-default btn-xs disabled" title="Next">
                <span class="glyphicon glyphicon-step-forward"></span>
            </button>
            -->
        </div>
    </div> <!-- .row -->
</div> <!-- .container -->
