<div ng-controller="PlayerController as vm">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <button id="play" type="button" class="btn btn-default" ng-class="{ 'btn-primary': vm.playerStatus.state !== 'playing' && vm.playerStatus.state !== 'buffering', 'btn-warning': vm.playerStatus.state === 'playing' || vm.playerStatus.state === 'buffering' }" ng-click="vm.togglePlay()" ng-disabled="vm.selectedMedia === null">
                    <span class="glyphicon" ng-class="{ 'glyphicon-play': vm.playerStatus.state !== 'playing' && vm.playerStatus.state !== 'buffering', 'glyphicon-pause': vm.playerStatus.state === 'playing' || vm.playerStatus.state === 'buffering' }"></span>
                </button>
                <div class="player-controls">
                    <div class="time-slider">
                        <input id="time-slider" type="range" max="{{ vm.playerStatus.duration }}" min="0" step="1" name="range" ng-model="vm.timeSlider" ng-change="vm.seek()" class="timeSlider"></input>
                    </div>

                    <div id="player-small-controls">
                        <button id="stop" type="button" class="btn btn-default btn-xs" title="{{ 'Stop' | translate }}" ng-click="vm.stop()" ng-disabled="vm.playerStatus.state !== 'playing' && vm.playerStatus.state !== 'buffering' && vm.playerStatus.state !== 'paused'">
                            <span class="glyphicon glyphicon-stop"></span>
                        </button>

                        <div class="player-info text-center">
                            <div ng-show="vm.cursorItem">
                                {{ vm.playerStatus.position | playerTime:vm.playerStatus.duration }}
                                <span ng-if="vm.playerStatus.duration">
                                    / {{ vm.playerStatus.duration | playerTime }}
                                </span>
                                &ndash;
                                {{ vm.cursorItem.name }}
                            </div>
                            <div ng-show="vm.statusError">
                                <img src="images/spinner1_16_bkg248.gif" alt="">
                                <span class="label label-danger" translate>
                                    Connection error {{ vm.statusError }}. Connecting...
                                </span>
                            </div>
                        </div>
                    </div>  <!-- #player-small-controls -->
                </div> <!-- .player-controls -->
            </div> <!-- .col -->
        </div> <!-- .row -->
    </div> <!-- .container -->

    <!-- cluster status -->
    <div class="container-fluid text-center" ng-show="vm.clusterService.units.length">
        <div class="cluster-unit-status" style="color: #FF4500" data-toggle="tooltip" data-html="true" title="unit1-hostname<br>Stopped">
            <i class="glyphicon glyphicon-stop"></i> 0:00
        </div>

        <div class="cluster-unit-status" style="color: limegreen" data-toggle="tooltip" data-html="true" title="unit2-hostname<br>00_pk_FI_000_r720P.mp4">
            <i class="glyphicon glyphicon-play"></i> 16:35
        </div>

        <div class="cluster-unit-status" style="color: sienna" data-toggle="tooltip" data-html="true" title="unit3-hostname<br>00_pk_FI_000_r720P.mp4">
            <i class="glyphicon glyphicon-play"></i> 16:32
        </div>

        <div class="cluster-unit-status" style="color: mediumvioletred" data-toggle="tooltip" data-html="true" title="unit4-hostname<br>00_pk_FI_000_r720P.mp4">
            <i class="glyphicon glyphicon-play"></i> 16:31
        </div>

        <div class="cluster-unit-status" style="color: gold" data-toggle="tooltip" data-html="true" title="unit5-hostname<br>Paused 00_pk_FI_000_r720P.mp4">
            <i class="glyphicon glyphicon-pause"></i> 4:35
        </div>

        <div class="cluster-unit-status" style="color: cornflowerblue" data-toggle="tooltip" data-html="true" title="unit6-hostname<br>Error: no response">
            <i class="glyphicon glyphicon-exclamation-sign"></i> ?:??
        </div>
    </div>
</div>
