<div ng-controller="PlayerController as vm">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <button id="play" type="button" class="btn btn-default" ng-class="{ 'btn-primary': vm.playerStatus.state !== 'playing' && vm.playerStatus.state !== 'buffering', 'btn-warning': vm.playerStatus.state === 'playing' || vm.playerStatus.state === 'buffering' }" ng-click="vm.togglePlay()" ng-disabled="vm.selectedMedia === null">
                    <span class="glyphicon" ng-class="{ 'glyphicon-play': vm.playerStatus.state !== 'playing' && vm.playerStatus.state !== 'buffering', 'glyphicon-pause': vm.playerStatus.state === 'playing' || vm.playerStatus.state === 'buffering' }"></span>
                </button>
                <div class="player-controls">
                    <rame-time-slider position="vm.timeSlider" duration="vm.playerStatus.duration" on-seek="vm.seek(position)"></rame-time-slider>
                    <div id="player-small-controls">
                        <button id="stop" type="button" class="btn btn-default btn-xs" title="{{ 'Stop' | translate }}" ng-click="vm.stop()">
                            <span class="glyphicon glyphicon-stop"></span>
                        </button>

                        <div class="player-info text-center">
                            <div ng-show="vm.cursorItem">
                                <span class="player-position" uib-popover-template="'posPopoverTemplate.html'" popover-trigger="click" popover-is-open="vm.jumpForm.open" ng-click="vm.jumpForm.open != vm.jumpForm.open">
                                    {{ vm.playerStatus.position | playerTime:vm.playerStatus.duration }}
                                </span>
                                <span ng-if="vm.playerStatus.duration">
                                    / {{ vm.playerStatus.duration | playerTime }}
                                </span>
                                &ndash;
                                {{ vm.cursorItem.name }}
                            </div>
                            <div ng-show="vm.statusService.error.message">
                                <img src="images/spinner1_16_bkg248.gif" alt="">
                                <span class="label label-danger" translate>
                                    Connection error {{ vm.statusService.error.message }}. Connecting...
                                </span>
                            </div>
                        </div>
                    </div>  <!-- #player-small-controls -->
                </div> <!-- .player-controls -->
            </div> <!-- .col -->
        </div> <!-- .row -->
    </div> <!-- .container -->

    <!-- position popover template -->
    <script type="text/ng-template" id="posPopoverTemplate.html">
        <form class="seek-form">
            <div class="clearfix">
            <div class="form-group form-group-sm pull-left">
                <label for="seek-hour">h</label>
                <input id="seek-hour" type="number" ng-model="vm.jumpForm.hour" class="form-control" placeholder="hh" min="0" max="99">
            </div>
            <div class="form-group form-group-sm pull-left">
                <label for="seek-min">m</label>
                <input id="seek-min" type="number" ng-model="vm.jumpForm.min" class="form-control" placeholder="mm" min="0" max="59">
            </div>
            <div class="form-group form-group-sm pull-left">
                <label for="seek-sec">s</label>
                <input id="seek-sec" type="number" ng-model="vm.jumpForm.sec" class="form-control" placeholder="ss" min="0" max="59">
            </div>
</div>
            <div class="form-group form-group-sm">
                <button type="submit" class="btn btn-sm btn-primary" ng-click="vm.jumpForm.jump()" translate>Jump</button>
            </div>
        </form>
    </script>

    <!-- cluster status -->
    <div class="container-fluid text-center" ng-show="vm.clusterService.units.length">
        <rame-cluster-unit-status ng-repeat="unit in vm.clusterService.units" unit="unit">
        </rame-cluster-unit-status>

        <!-- tooltip template -->
        <script type="text/ng-template" id="cluster-unit-status-tooltip.html">
            <span>
                <span ng-if="vm.statuses[vm.unit.id]">
                    <span ng-if="vm.unit.hostname">{{ vm.unit.hostname }}<br></span>
                    <span ng-if="vm.unit.host">{{ vm.unit.host }}<br></span>
                    {{ vm.statuses[vm.unit.id].state }}
                    <span ng-if="vm.statuses[vm.unit.id].cursor.name">
                        <br>{{ vm.statuses[vm.unit.id].cursor.name }}
                    </span>
                </span>
                <span ng-if="!vm.statuses[vm.unit.id]">
                    <span ng-if="vm.unit.hostname">{{ vm.unit.hostname }}<br></span>
                    <span ng-if="vm.unit.host">{{ vm.unit.host }}<br></span>
                    <span translate>Error: no response</span>
                </span>
            </span>
        </script>
    </div>
</div>
