<div class="container" ng-controller="AdminController as vm">
    <div class="panel panel-default">
        <div class="panel-heading ">            
            <h3 class="panel-title" translate>Admin Settings</h3>
            <!-- <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> -->
        </div>
        <div class="panel-body ">
            <img alt="Rame Logo" 
                    src="images/logo_fading_h40.gif"
                    style="float:right;">
            <div class="form-group">
                <label for="videoResOut" translate>Video output resolution</label>
                <select id="videoResOut" ng-model="vm.systemSettings.resolution">
                    <option
                        ng-repeat="vor in vm.videoOutputResolutions"
                        ng-value="vor" translate>{{ vor }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="audioPort" translate>
                Audio port</label>
                <div class="input-group" id="audioPort">
                    <span class=""
                        ng-repeat="port in vm.audioPorts">
                        <input type="radio" 
                            ng-model="vm.systemSettings.audioPort"
                            ng-value="port">
                        {{ port | translate }}
                    </span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="deviceName" translate>Device name</label>
                <input type="text" name="deviceName" id="deviceName"
                    class="form-control" ng-model="vm.deviceName"
                    ng-minlength="3" ng-maxlength="16" />
            </div>

            <div class="form-group">
                <label for="ipConfigurations" translate>IP Configurations</label>
                <!-- <tt>current = {{ settings.ipDhcpClient }} ip
                    {{settings.ipAddress}} gateway
                    {{settings.gatewayIp}} dns {{settings.dnsServerIp}}</tt> -->
                <div class="list-group" id="ipConfigurations">
                    <div class="list-group-item">
                        <div class="row form-group center-block">
                            <input type="checkbox"
                                ng-model="vm.systemSettings.ipDhcpClient">
                                <span translate>
                                DHCP_CLIENT_SETTING
                                </span>
                        </div>
                        <div class="row form-group center-block">
                            <rame-ip-address-block
                                aria-label="DeviceIP"
                                disabilify="vm.systemSettings.ipDhcpClient"
                                octets="vm.deviceIpOcts">
                                {{ 'Device IP' | translate }}
                            </rame-ip-address-block>
                        </div>
                        <div class="row form-group center-block">
                            <rame-ip-address-block
                                aria-label="subnetMask"
                                disabilify="vm.systemSettings.ipDhcpClient"
                                octets="vm.subnetMaskOcts">
                                {{ 'Subnet mask' | translate }}
                            </rame-ip-address-block>
                        </div>
                        <div class="row form-group center-block">
                            <rame-ip-address-block
                                aria-label="GatewayIP"
                                disabilify="vm.systemSettings.ipDhcpClient"
                                octets="vm.gatewayIpOcts">
                                {{ 'Gateway IP' | translate }}
                            </rame-ip-address-block>
                        </div>
                        <div class="row form-group center-block">
                            <rame-ip-address-block
                                aria-label="DNSIPpreferred"
                                disabilify="vm.systemSettings.ipDhcpClient"
                                octets="vm.dnsServerIpOcts">
                                {{ 'DNS, preferred' | translate }}
                            </rame-ip-address-block>
                        </div>
                        <div class="row form-group center-block">
                            <rame-ip-address-block
                                label-address-usage="DNS, alternative"
                                aria-label="DNSIPalternative"
                                disabilify="vm.systemSettings.ipDhcpClient"
                                octets="vm.dnsAlternativeServerIpOcts">
                                {{ 'DNS, alternative' | translate }}
                            </rame-ip-address-block>
                        </div>
                        <div class="row form-group center-block">
                            <input type="checkbox"
                                ng-model="vm.systemSettings.ipDhcpServer"
                                ng-disabled="vm.systemSettings.ipDhcpClient"
                                ng-click="vm.prefillDhcpOcts()">
                                <span translate>
                                DHCP_SERVER_SETTING
                                </span>
                        </div>
                        <div class="row form-group center-block">
                            <rame-ip-address-block
                                label-address-usage="DHCP range start"
                                aria-label="DHCPRangeStart"
                                disabilify="vm.systemSettings.ipDhcpClient || !vm.systemSettings.ipDhcpServer"
                                octets="vm.dhcpServerRangeStartIpOcts">
                                {{ 'DHCP range start' | translate }}
                            </rame-ip-address-block>
                        </div>
                        <div class="row form-group center-block">
                            <rame-ip-address-block
                                label-address-usage="DHCP range end"
                                aria-label="DHCPRangeEnd"
                                disabilify="vm.systemSettings.ipDhcpClient || !vm.systemSettings.ipDhcpServer"
                                octets="vm.dhcpServerRangeEndIpOcts">
                                {{ 'DHCP range end' | translate }}
                            </rame-ip-address-block>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-default btn-lg"
                ng-click="vm.saveSettings()">
                <span class="glyphicon"
                    ng-class="{ 'glyphicon-floppy-disk': vm.savingStatus !== 'saved', 'glyphicon-floppy-saved': vm.savingStatus === 'saved' }"
                    aria-hidden="true"></span>
                <span translate>SAVE_SETTINGS</span>
            </button>
        </div>
    </div>
</div>
