<div class="container" ng-controller="AdminController as vm">
    <div class="panel panel-default">
        <div class="panel-heading ">            
            <h3 class="panel-title" translate>Admin Settings</h3>
        </div>
        <div class="panel-body ">
            <rame-device-info></rame-device-info>
            <div class="form-group">
                <label for="videoResOut" translate>Video output resolution</label>
                <select id="videoResOut" ng-model="vm.systemSettings.resolution">
                    <option
                        ng-repeat="vor in vm.videoOutputResolutions"
                        ng-value="vor" translate>{{ vor }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="audioPort" translate>
                Audio port</label>
                <select id="audioPort" ng-model="vm.systemSettings.audioPort">
                    <option
                        ng-repeat="port in vm.audioPorts"
                        ng-value="port" translate>{{ port }}</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="deviceName" translate>Device name</label>
                <input type="text" name="deviceName" id="deviceName"
                    class="form-control" ng-model="vm.deviceName"
                    ng-pattern="/^[a-z\d]([a-z\d\-]{0,61}[a-z\d])?(\.[a-z\d]([a-z\d\-]{0,61}[a-z\d])?)*$/i"
                    ng-minlength="1" ng-maxlength="63" />
            </div>

            <div class="form-group">
                <label for="ipConfigurations" translate>IP Configurations</label>
                <div class="list-group" id="ipConfigurations">
                    <div class="list-group-item">
                        <div class="row checkbox center-block">
                            <label>
                                <input type="checkbox"
                                    ng-model="vm.manualIpConfig">
                                <span translate>
                                    DHCP_CLIENT_SETTING
                                </span>
                            </label>
                        </div>
                        <div class="row center-block">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" translate>
                                        Device IP
                                    </label>
                                    <div class="col-sm-9">
                                        <rame-ip-address-block
                                            aria-label="DeviceIP"
                                            disabilify="!vm.manualIpConfig"
                                            value="vm.deviceIp.value"
                                            is-valid="vm.deviceIp.valid">
                                        </rame-ip-address-block>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row center-block">
                             <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" translate>
                                        Subnet mask
                                    </label>
                                    <div class="col-sm-9">
                                        <rame-ip-address-block
                                            aria-label="subnetMask"
                                            disabilify="!vm.manualIpConfig"
                                            value="vm.subnetMask.value"
                                            is-valid="vm.subnetMask.valid">
                                        </rame-ip-address-block>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row center-block">
                             <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" translate>
                                        Gateway IP
                                    </label>
                                    <div class="col-sm-9">
                                        <rame-ip-address-block
                                            aria-label="subnetMask"
                                            disabilify="!vm.manualIpConfig"
                                            value="vm.gatewayIp.value"
                                            is-valid="vm.gatewayIp.valid">
                                        </rame-ip-address-block>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row center-block">
                             <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" translate>
                                        DNS, preferred
                                    </label>
                                    <div class="col-sm-9">
                                        <rame-ip-address-block
                                            aria-label="DNSIPpreferred"
                                            disabilify="!vm.manualIpConfig"
                                            value="vm.dnsServerIp.value"
                                            is-valid="vm.dnsServerIp.valid">
                                        </rame-ip-address-block>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row center-block">
                             <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" translate>
                                        DNS, alternative
                                    </label>
                                    <div class="col-sm-9">
                                        <rame-ip-address-block
                                            aria-label="DNSIPalternative"
                                            disabilify="!vm.manualIpConfig"
                                            value="vm.dnsAlternativeServerIp.value"
                                            is-valid="vm.dnsAlternativeServerIp.valid">
                                        </rame-ip-address-block>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row checkbox center-block">
                            <label>
                                <input type="checkbox"
                                    ng-model="vm.systemSettings.ipDhcpServer"
                                    ng-disabled="!vm.manualIpConfig"
                                    ng-click="vm.prefillDhcpOcts()">
                                <span translate>
                                    DHCP_SERVER_SETTING
                                </span>
                            </label>
                        </div>
                        <div class="row center-block">
                             <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" translate>
                                        DHCP range start
                                    </label>
                                    <div class="col-sm-9">
                                        <rame-ip-address-block
                                            aria-label="DHCPRangeStart"
                                            disabilify="!vm.manualIpConfig || !vm.systemSettings.ipDhcpServer"
                                            value="vm.dhcpServerRangeStartIp.value"
                                            is-valid="vm.dhcpServerRangeStartIp.valid">
                                        </rame-ip-address-block>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row center-block">
                             <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" translate>
                                        DHCP range end
                                    </label>
                                    <div class="col-sm-9">
                                        <rame-ip-address-block
                                            aria-label="DHCPRangeEnd"
                                            disabilify="!vm.manualIpConfig || !vm.systemSettings.ipDhcpServer"
                                            value="vm.dhcpServerRangeEndIp.value"
                                            is-valid="vm.dhcpServerRangeEndIp.valid">
                                        </rame-ip-address-block>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- .row -->
                    </div> <!-- .list-group-item -->
                </div> <!-- .list-group -->
            </div> <!-- .form-group -->
        </div> <!-- .panel-body -->

        <div class="panel-footer">
            <button type="button" class="btn btn-default"
                ng-click="vm.saveSettings()">
                <span class="glyphicon"
                    ng-class="{ 'glyphicon-floppy-disk': vm.savingStatus !== 'saved', 'glyphicon-floppy-saved': vm.savingStatus === 'saved' }"
                    aria-hidden="true"></span>
                <span translate>SAVE_SETTINGS</span>
            </button>
        </div>
    </div>
</div>
