<!-- <div class="container"> -->
<div ng-controller="FirmwareController as vm"
    class="panel panel-default">
    <div class="panel-heading">
        <span translate class="panel-title">Firmware upgrade</span>
    </div>
    <div class="panel-body">
        <div class="row center-block" >
        <form name="upgradeForm" ng-show="vm.upgradesAvailable.firmwares.length > 0">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="upgradesAvailable"
                        class="col-sm-4 control-label" translate>
                        Available firmwares</label>
                    <div class="col-sm-4">
                        <select id="upgradesAvailable"
                            ng-model="vm.upgradeSelection"
                            class="form-control"
                            ng-options="ua as ua.title for ua in vm.upgradesAvailable.firmwares track by ua.title">
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-default"
                            ng-click="vm.upgradeFirmwareModal()">
                            <span class="glyphicon glyphicon-import"
                                aria-hidden="true"></span>
                            <span translate>Upgrade</span>
                        </button>
                    </div>
                </div>                
            </div>
        </form>
        </div>
        <div class="row" ng-show="!vm.upgradesAvailable.firmwares.length">
            <div class="col-sm-12">
                <span translate>Could not load list of firmwares available for upgrade.</span>
            </div>
        </div>
        <div class="row" ng-controller="RameVersionController as vvm">
            <div class="col-sm-12">
                <ul class="list-unstyled">
                    <li ng-show="vm.upgradesAvailable.firmwares.length > 0">
                        <span translate>Latest stable firmware version</span>: 
                        {{ !vm.upgradeLatestStable 
                            ? ('Only development versions available' | translate ) 
                            : vm.upgradeLatestStable.title }}
                    </li>
                    <li>
                        <span translate>Current firmware</span>: 
                        {{ vvm.rameVersionFirmware }}
                    </li>
                    <!-- <li>
                        <span translate>Device hardware</span>: 
                        {{ vvm.rameVersionHardware }}
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
