<!-- <div class="container"> -->
<div ng-controller="FirmwareController as vm"
    class="panel panel-default">
    <div class="panel-heading">
        <span translate class="panel-title">Firmware upgrade</span>
    </div>
    <div class="panel-body">
        <form name="upgradeForm">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="upgradesAvailable"
                        class="col-sm-4 control-label" translate>
                        Available firmwares</label>
                    <div class="col-sm-4">
                        <select id="upgradesAvailable"
                            ng-model="vm.upgradeSelection"
                            class="form-control"
                            ng-options="ua as ua.title for ua in vm.upgradesAvailable.firmwares track by ua.title">
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-default"
                            ng-click="vm.upgradeFirmware()">
                            <span class="glyphicon glyphicon-import"
                                aria-hidden="true"></span>
                            <span translate>Upgrade</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="row">
                    <span translate>Latest stable firmware version</span>: 
                    {{ !vm.upgradeLatestStable 
                        ? ('Nothing stable' | translate ) 
                        : vm.upgradeLatestStable.title }}
                </div>
                <div class="row">
                    <span translate>Current firmware</span>: 
                    {{ vm.rameVersionSoftware }}
                </div>
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <!-- <div class="col-sm-4 text-info"> -->
                    <span translate>Device hardware</span>: 
                    {{ vm.rameVersionHardware }}
                </div>                
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
