<form>
    <div class="modal-header">
        <h3>
            <i class="glyphicon glyphicon-floppy-disk"></i>
            <span translate>Save settings</span>
        </h3>
    </div>


    <div class="modal-body">
        <p>
            <span translate>Device will be restarted after saving settings.</span>
        </p>

        <uib-progressbar class="progress-striped active" value="vm.progress" type="warning">
            {{ vm.status }}
        </uib-progressbar>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="vm.cancel()" ng-disabled="vm.started" translate>Cancel</button>
        <button class="btn btn-warning" type="submit" ng-click="vm.start()" ng-disabled="vm.started" translate>Save</button>
    </div>
</form>
