<form>
    <div class="modal-header">
        <h3><span translate>Upgrade To</span> {{ vm.upgradeSelection.title }}</h3>
    </div>

    <div class="modal-body">
        <uib-progressbar class="progress-striped active" style="margin-top: 20px" value="vm.progress" type="warning">
            {{ vm.status }}
        </uib-progressbar>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="vm.cancel()" ng-disabled="vm.started" translate>Cancel</button>
        <button class="btn btn-warning" type="submit" ng-click="vm.start()" ng-disabled="vm.started" translate>Upgrade</button>
    </div>
</form>
