<div class="row" style="margin-bottom: 10px">
    <div class="col-sm-3">
        <a href ng-click="vm.toggle()">
            <span translate>{{ vm.channel.id }}</span>
            <span>{{ vm.volume }}%</span>
            <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': !vm.isOpen, 'glyphicon-chevron-left': vm.isOpen }"></span>
        </a>
    </div>

    <div class="col-sm-6">
        <div class="horizontal-collapse">
            <input type="range" min="{{ vm.channel.min }}" max="{{ vm.channel.max }}" step="1" ng-model="vm.channel.volume" ng-change="vm.setVolume()" class="volume-slider">
        </div>
    </div>
</div>
