<rame-device-info></rame-device-info>

<div class="container" ng-controller="MediaController as vmmc" ng-cloak ng-class="{'cluster-stopped': vmmc.clusterService.clusterStatus.state === 'stopped' }">
    <uib-tabset type="pills">
        <uib-tab ng-repeat="listId in vmmc.rootChildren">
            <tab-heading translate>{{ vmmc.lists[listId].title }}</tab-heading>
            <rame-media-list list-id="listId"></rame-media-list>
        </uib-tab>
        
        <uib-tab>
            <tab-heading translate>Playlists</tab-heading>
            <div ng-controller="PlaylistsController as vm">
                <rame-playlist default="true" remove-media="vm.removeMedia(playlist, media)" on-sort="vm.playlistSorted('default', item, oldIndex, newIndex)" add-stream="vm.addStream(playlist)" on-media-click="vm.selectMedia(media)"></rame-playlist>
                <rame-playlist ng-repeat="listId in vm.playlists" list-id="listId" remove-media="vm.removeMedia(playlist, media)" on-sort="vm.playlistSorted(listId, item, oldIndex, newIndex)" add-stream="vm.addStream(playlist)" on-media-click="vm.selectMedia(media)"></rame-playlist>
            </div>
        </uib-tab>

        <uib-tab>
            <tab-heading>
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            </tab-heading>
            <!-- <h1 translate>Settings</h1> -->
            <div class="row" ng-include="'rameplayer/settings/settings.html'" ng-cloak>
            
            </div>
        </uib-tab>
    </uib-tabset>
</div> <!-- .container -->

<!-- player controls -->
<nav class="navbar navbar-default navbar-fixed-bottom navbar-player" ng-include="'rameplayer/player/player.html'" ng-cloak>
</nav>
