<div class="container" ng-controller="SettingsController as settings">

	<!-- <div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title" translate>HDMI_POWERCYCLING</h3>
			<span class="text-info" translate>HDMI_POWERCYCLING_INFO</span>
			<tt>current = {{ settings.hdmishaked }}</tt>
		</div>
		<div class="panel-body ng-cloak">
			<button type="button" class="btn btn-default btn-lg"
				ng-click="settings.resetHdmiInterface()" translate>
				<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
				RESET_HDMI
			</button>
		</div>
	</div> -->
	
	<div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" translate>USER_SETTINGS</h3>
        </div>
        <div class="panel-body ng-cloak">
            <label for="slavedelay" translate>SLAVE_DELAY</label>
	        <input type="number" name="slavedelay" id="slavedelay" ng-model="settings.slaveDelay"
	                min="0" max="999">
            <br>
            <label for="language" translate>UI_LANGUAGE</label>
            <select name="language" ng-model="settings.languageId"
                id="language" class="form-control">
                <option value="en">English</option>
                <!-- <option>Latviešu (Latvian)</option>
                <option>Lietuvių kalba (Lithuanian)</option> -->
                <option value="fi">suomi (Finnish)</option>
                <!-- <option>eesti (Estonian)</option> -->
                <option disabled>汉语 (Chinese)</option>
            </select>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-default btn-lg"
                ng-click="settings.saveSettings()">
                <span class="glyphicon" 
                    ng-class="{ 'glyphicon-floppy-disk': settings.savingStatus !== 'saved', 'glyphicon-floppy-saved': settings.savingStatus === 'saved' }" 
                    aria-hidden="true"></span>
                    <span translate>SAVE_SETTINGS</span>  
            </button>
            <!-- <tt>current = {{ settings.savingStatus }}</tt> -->
        </div>
    </div>

    <div class="well well-sm">
        <strong>RamePlayer <span translate>INFORMATION</span></strong>
        <br>
        <span translate>SOFTWARE_VERSION</span>: 
        {{ settings.rameVersionSoftware }}
        <br>
        <span translate>HARDWARE_VERSION</span>: 
        {{ settings.rameVersionHardware }}
        <br>
        <span translate>UI_VERSION</span>:
        {{ settings.uiVersion }}
    </div>
	
</div>
