<div class="container" ng-controller="SettingsController as settingvm">

    <div class="panel panel-default">
        
        <div class="panel-heading">
            <h3 class="panel-title" translate>User Settings</h3>
        </div>
        <div class="panel-body ng-cloak">
            <div class="form-group">
                <label>
                    <input type="checkbox" name="autoplayUsb" id="autoplayUsb"
                        ng-model="settingvm.userSettings.autoplayUsb"
                        ng-change="settingvm.saveUsbSetting()">
                    <span translate>Automatically play files from USB</span>
                </label>
            </div>
            <div class="form-group">
                <label for="language" translate>Language of the user interface</label>
                <select name="language" ng-model="settingvm.languageId"
                    id="language" class="form-control"
                    ng-change="settingvm.saveLanguageSettings()">
                    <option value="en-us">English</option>
                    <!-- <option>Latviešu (Latvian)</option>
                    <option>Lietuvių kalba (Lithuanian)</option> -->
                    <option value="fi">suomi (Finnish)</option>
                    <!-- <option>eesti (Estonian)</option> -->
                    <option disabled>汉语 (Chinese)</option>
                </select>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">

            <h4 class="panel-title">
                <span translate>Cluster</span>
                <span class="pull-right">
                    <!-- hamburger menu -->
                    <span uib-dropdown is-open="vm.isDropdownOpen">
                        <a href uib-dropdown-toggle>
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </a>
                        <ul class="uib-dropdown-menu dropdown-menu-right">
                            <li>
                                <a href ng-click="settingvm.openClusterImportModal()">
                                    <i class="glyphicon glyphicon-import"></i>
                                    <span translate>Import Configuration</span>&hellip;
                                </a>
                            </li>
                            <li>
                                <a href ng-click="settingvm.exportClusterConfig()">
                                    <i class="glyphicon glyphicon-export"></i>
                                    <span translate>Export Configuration</span>
                                </a>
                            </li>
                        </ul>
                    </span>
                </span> <!-- .pull-right -->
            </h4>
        </div>
        <div class="panel-body">
            <h4 ng-if="settingvm.clusterService.units.length" translate>Units</h4>
            <rame-cluster-unit unit="unit" ng-repeat="unit in settingvm.clusterService.units"></rame-cluster-unit>
            <button class="btn btn-default" data-target="#add-unit-form" data-toggle="collapse" aria-expanded="false" aria-controls="add-unit-form">
                <span translate>Add Unit</span>&nbsp;<span class="caret"></span>
            </button>
            <form>
                <div class="row collapse" id="add-unit-form">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" translate>IP address</label>
                            <div class="">
                                <rame-ip-address-block
                                    aria-label="DeviceIP"
                                    value="settingvm.newUnit.ip.value"
                                    is-valid="settingvm.newUnitIp.valid">
                                </rame-ip-address-block>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="new-node-port" class="control-label" translate>Port</label>
                            <div class="">
                               <input type="number" id="new-node-port" class="form-control" ng-model="settingvm.newUnit.port" min="0">
                           </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="new-node-delay" class="control-label">
                                <i class="glyphicon glyphicon-time"></i>
                                <span translate>Play Delay (sec)</span>
                            </label>
                            <div class="">
                                <input type="number" id="new-node-delay" class="form-control" ng-model="settingvm.newUnit.delay" min="0">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                <i class="glyphicon"></i><!-- just empty -->
                            </label>
                            <div>
                                <button class="btn btn-primary" ng-click="settingvm.addClusterUnit()">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span translate>Add</span>
                                </button>
                            </div>
                        </div> <!-- .form-group -->
                    </div> <!-- .col -->
                </div>
            </form>
        </div>
    </div>

    <div class="well well-sm">
        <strong>RamePlayer <span translate>INFORMATION</span></strong>
        <br>
        <span translate>Software version</span>:
        {{ settingvm.rameVersionSoftware }}
        <br>
        <span translate>Hardware version</span>:
        {{ settingvm.rameVersionHardware }}
        <br>
        <span translate>UI version</span>:
        {{ settingvm.uiVersion }}
        <br>
        <span translate>Hostname</span>:
        {{ settingvm.hostname }}
        <br>
        <span translate>IP address</span>:
        {{ settingvm.ipAddress }}
    </div>

    <div>
        <a class="btn btn-default" ui-sref="admin" role="button">
           <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
           <span translate>Admin Settings</span>
        </a>
    </div>
</div>
