<div class="container" ng-controller="SettingsController as settings">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" translate>USER_SETTINGS</h3>
        </div>
        <div class="panel-body ng-cloak">
            <div class="form-group">
                <label for="autoplayUsb" translate>AUTOPLAY_USB</label>
                <input type="checkbox" name="autoplayUsb" id="autoplayUsb" ng-model="settings.autoplayUsb" data-toggle="toggle">
                <!-- <script type="text/javascript">$(function() {$('#autoplayUsb').bootstrapToggle()})</script> -->
            </div>
            <div class="form-group">
                <label for="language" translate>UI_LANGUAGE</label>
                <select name="language" ng-model="settings.languageId"
                    id="language" class="form-control"
                    ng-change="settings.saveLanguageSettings()">
                    <option value="en-US">English</option>
                    <!-- <option>Latviešu (Latvian)</option>
                    <option>Lietuvių kalba (Lithuanian)</option> -->
                    <option value="fi">suomi (Finnish)</option>
                    <!-- <option>eesti (Estonian)</option> -->
                    <option disabled>汉语 (Chinese)</option>
                </select>
            </div>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-default"
                ng-click="settings.saveSettings()">
                <span class="glyphicon"
                    ng-class="{ 'glyphicon-floppy-disk': settings.savingStatus !== 'saved', 'glyphicon-floppy-saved': settings.savingStatus === 'saved' }"
                    aria-hidden="true"></span>
                    <span translate>SAVE_SETTINGS</span>
            </button>
            <!-- <tt>current = {{ settings.savingStatus }}</tt> -->
        </div>
    </div>

    <div class="well well-sm">
        <strong>RamePlayer <span translate>INFORMATION</span></strong>
        <br>
        <span translate>SOFTWARE_VERSION</span>:
        {{ settings.rameVersionSoftware }}
        <br>
        <span translate>HARDWARE_VERSION</span>:
        {{ settings.rameVersionHardware }}
        <br>
        <span translate>UI_VERSION</span>:
        {{ settings.uiVersion }}
    </div>

    <div>
    <a class="btn btn-default" href="admin.html" role="button">
       <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
       <span translate>ADMIN_SETTINGS_LINK</span>
    </a>
    </div>
</div>
