<span class="label label-danger">{{ vm.message }}</span>

<!-- <div class="input-group">
    <span class="input-group-addon text-right" style="width: auto">
        {{ vm.labelAddressUsage | translate }} </span>
    {{ vm.deviceName }} <span style="width: 50%">
    <input type="text" class="form-control" maxlength="3"
        style="width: 4em" ng-model="vm.octets[0]"
        ng-disabled="vm.isDisabled">
    <span class="input-group-addon" style="width: 2em">.</span>
    <input type="text" class="form-control" maxlength="3"
        style="width: 4em" ng-model="vm.octets[1]"
        ng-disabled="vm.isDisabled">
    <span class="input-group-addon" style="width: 2em">.</span>
    <input type="text" class="form-control" maxlength="3"
        style="width: 4em" ng-model="vm.octets[2]"
        ng-disabled="vm.isDisabled">
    <span class="input-group-addon" style="width: 2em">.</span>
    <input type="text" class="form-control" maxlength="3"
        style="width: 4em" ng-model="vm.octets[3]"
        ng-disabled="vm.isDisabled">
</div> -->
