<div class="row">
    <div class="col-md-12">

        <div id="streaming-common-settings" class="panel panel-default streaming-settings">

            <div class="panel-heading">

                <h3 class="panel-title">
                    <i class="glyphicon glyphicon-wrench"></i>
                    <span translate>Settings</span>
                </h3>

            </div>
            <div class="panel-body form-horizontal">

                <div class="form-group">
                    <label for="streaming-video-input" class="col-sm-3 control-label" translate>Video Input</label>
                    <div class="col-sm-4">
                        <select ng-model="$ctrl.config.input"
                            id="streaming-video-input" class="form-control"
                            ng-disabled="$ctrl.statusService.status.recorder.running">
                            <option value="component" translate>Component</option>
                            <option value="composite" translate>Composite</option>
                            <option value="hdmi" translate>HDMI</option>
                            <option value="s-video" translate>S-Video</option>
                            <option value="sdi" translate>SDI</option>
                            <option value="0" translate>Input #0</option>
                            <option value="1" translate>Input #1</option>
                            <option value="2" translate>Input #2</option>
                            <option value="3" translate>Input #3</option>
                            <option value="4" translate>Input #4</option>
                        </select>
                    </div>
                </div> <!-- .form-group -->

                <div class="form-group">
                    <label for="recorder-avg-video-bitrate" class="col-sm-3 control-label" translate>Avg Video Bitrate (kbps)</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="recorder-avg-video-bitrate" ng-model="$ctrl.config.avgVideoBitrate" placeholder="3000" ng-disabled="$ctrl.statusService.status.recorder.running" ng-change="$ctrl.avgVideoBitrateChanged()">
                    </div>
                </div> <!-- .form-group -->

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-3">
                        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#recorderAdvanced">
                            <span translate>Advanced</span>
                            <span class="caret"></span>
                        </button>
                    </div>
                </div>

                <div id="recorderAdvanced" class="collapse">
                    <div class="form-group">
                        <label for="recorder-h264-profile" class="col-sm-3 control-label" translate>H.264 Profile</label>
                        <div class="col-sm-4">
                            <select ng-model="$ctrl.config.h264Profile"
                                id="recorder-h264-profile" class="form-control"
                                ng-disabled="$ctrl.statusService.status.recorder.running">
                                <option value="high" translate>High</option>
                                <option value="main" translate>Main</option>
                                <option value="baseline" translate>Baseline</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="recorder-h264-level" class="col-sm-3 control-label" translate>H.264 Level</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="recorder-h264-level" ng-model="$ctrl.config.h264Level" placeholder="32" ng-disabled="$ctrl.statusService.status.recorder.running">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="recorder-h264-bframes" class="col-sm-3 control-label" translate>H.264 B-Frames</label>
                        <div class="col-sm-4">
                            <select ng-model="$ctrl.config.h264BFrames"
                                id="recorder-h264-bframes" class="form-control"
                                ng-disabled="$ctrl.statusService.status.recorder.running">
                                <option value="default">Default</option>
                                <option value="enabled" translate>Enabled</option>
                                <option value="disabled" translate>Disabled</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="recorder-h264-cabac" class="col-sm-3 control-label" translate>H.264 CABAC</label>
                        <div class="col-sm-4">
                            <select ng-model="$ctrl.config.h264Cabac"
                                id="recorder-h264-cabac" class="form-control"
                                ng-disabled="$ctrl.statusService.status.recorder.running">
                                <option value="default">Default</option>
                                <option value="enabled" translate>Enabled</option>
                                <option value="disabled" translate>Disabled</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="recorder-fps-divider" class="col-sm-3 control-label" translate>FPS Divider</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="recorder-fps-divider" ng-model="$ctrl.config.fpsDivider" placeholder="2" ng-disabled="$ctrl.statusService.status.recorder.running">
                        </div>
                    </div> <!-- .form-group -->

                    <div class="form-group">
                        <label for="recorder-audio-bitrate" class="col-sm-3 control-label" translate>Audio Bitrate (kbps)</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="recorder-audio-bitrate" ng-model="$ctrl.config.audioBitrate" placeholder="" ng-disabled="$ctrl.statusService.status.recorder.running">
                        </div>
                    </div> <!-- .form-group -->

                    <div class="form-group">
                        <label for="recorder-audio-bitrate" class="col-sm-3 control-label" translate>Max Video Bitrate (kbps)</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="recorder-max-video-bitrate" ng-model="$ctrl.config.maxVideoBitrate" placeholder="" ng-disabled="$ctrl.statusService.status.recorder.running">
                        </div>
                    </div> <!-- .form-group -->



                </div> <!-- .collapse -->

            </div> <!-- .panel-body -->

        </div> <!-- .panel -->

        <div id="recorder-settings" class="panel panel-default streaming-settings">

            <div class="panel-heading">
                <span class="pull-right">
                    <toggle ng-model="$ctrl.config.recorderEnabled" onstyle="btn-danger" ng-disabled="$ctrl.statusService.status.recorder.running"></toggle>
                </span>

                <h3 class="panel-title text-danger">
                    <i class="glyphicon glyphicon-hdd"></i>
                    <span translate>Recorder</span>
                </h3>
            </div>
            <div class="panel-body form-horizontal" uib-collapse="!$ctrl.config.recorderEnabled">
              <div class="form-group has-feedback" ng-class="{'has-error': !$ctrl.validRecPath }">
                    <label for="streaming-target" class="col-sm-3 control-label" translate>Target File</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="streaming-target" ng-model="$ctrl.config.recordingPath" placeholder="/media/sda1/recording.mp4" ng-disabled="$ctrl.statusService.status.recorder.running" ng-change="$ctrl.recPathChanged()">
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="$ctrl.validRecPath"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="!$ctrl.validRecPath"></span>
                        <span class="help-block" ng-show="$ctrl.errorRecFileExists" translate>File already exists. Please choose another filename.</span>
                        <span class="help-block" ng-show="$ctrl.errorRecNoDir" translate>Directory does not exist. Please choose another directory for recording.</span>
                        <span class="help-block" ng-show="$ctrl.validRecPath && $ctrl.freeSpace"><span translate>Free space:</span> {{ $ctrl.freeSpace | rameByteSize }}</span>
                    </div>
                </div> <!-- .form-group -->

            </div>

        </div> <!-- .panel -->


        <div id="streaming-server-settings" class="panel panel-default streaming-settings">
            
            <div class="panel-heading">
                <span class="pull-right">
                    <toggle ng-model="$ctrl.config.streamingEnabled" onstyle="btn-warning" ng-disabled="$ctrl.statusService.status.recorder.running"></toggle>
                </span>

                <h3 class="panel-title text-warning">
                    <i class="glyphicon glyphicon-globe"></i>
                    <span translate>Streaming Server</span>

                </h3>

            </div>
            <div class="panel-body form-horizontal" uib-collapse="!$ctrl.config.streamingEnabled">

                <label class="col-sm-3 control-label" translate>Streams</label>

                <div class="col-sm-9">
                    <div class="radio" style="margin-top: 0;">
                        <label>
                            <input type="radio" name="streaming-channels" value="1" ng-model="$ctrl.config.streamMode" ng-disabled="$ctrl.statusService.status.recorder.running">
                            <p>
                                <span translate>One stream</span><br>
                                rtmp://{{ $ctrl.locationHost }}/rame/program
                            </p>

                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="streaming-channels" value="2" ng-model="$ctrl.config.streamMode" ng-disabled="$ctrl.statusService.status.recorder.running">
                            <p>
                                <span translate>Separate streams for audio left and right</span><br>
                                rtmp://{{ $ctrl.locationHost }}/rame/audio1<br>
                                rtmp://{{ $ctrl.locationHost }}/rame/audio2
                            </p>
                        </label>
                    </div>
                </div>

            </div>

        </div> <!-- .panel -->

        <button ng-show="!$ctrl.statusService.status.recorder.running" id="start-btn" type="button" class="btn btn-lg btn-primary pull-right" ng-click="$ctrl.start()" ng-disabled="!$ctrl.config.recorderEnabled && !$ctrl.config.streamingEnabled">
            <i class="glyphicon glyphicon-chevron-right"></i>
            <span translate>Start</span>
        </button>

        <button ng-show="$ctrl.statusService.status.recorder.running" id="start-btn" type="button" class="btn btn-lg pull-right" ng-click="$ctrl.stop()" ng-class="{'btn-danger': $ctrl.statusService.status.recorder.recording && !$ctrl.statusService.status.recorder.streaming, 'btn-warning': !$ctrl.statusService.status.recorder.recording && $ctrl.statusService.status.recorder.streaming, 'btn-primary': $ctrl.statusService.status.recorder.recording && $ctrl.statusService.status.recorder.streaming }" ng-disabled="$ctrl.stopping">
            <i class="glyphicon glyphicon-stop"></i>
            <span ng-show="!$ctrl.stopping" translate>Stop</span>
            <span ng-show="$ctrl.stopping" translate>Stopping...</span>
        </button>

    </div> <!-- .col -->
</div> <!-- .row -->
