<div class="row media-list-item" ng-class="{ selected: vm.media.id === vm.playerStatus.cursor.id && vm.playerStatus.state !== 'playing' && vm.playerStatus.state !== 'buffering', paused: vm.media.id === vm.playerStatus.cursor.id && vm.playerStatus.state === 'paused', locked: vm.media.id === vm.playerStatus.cursor.id && (vm.playerStatus.state === 'playing' || vm.playerStatus.state === 'buffering'), 'sync-highlighted': vm.syncHighlight, 'chapter': vm.media.type === 'chapter' }" ng-click="vm.itemClick($event)">
    <div class="col-sm-4 media-list-item-field media-list-item-field-name ellipsis">
        <span class="glyphicon glyphicon-folder-close" ng-if="vm.media.type === 'directory'"></span>

        <!-- toggle chapters open -->
        <a href ng-if="vm.showChapters && vm.media.chapterCount" ng-click="vm.chaptersCollapsed = !vm.chaptersCollapsed; $event.stopPropagation();">
            <span class="glyphicon" ng-class="{'glyphicon-chevron-down': vm.chaptersCollapsed, 'glyphicon-chevron-up': !vm.chaptersCollapsed}"></span></a>

        <span ng-if="vm.showChapters && vm.media.type === 'chapter'">
            <span translate>Chapter</span> {{ vm.media.chapterId }}
        </span>

        <span ng-if="!vm.showChapters || vm.media.type !== 'chapter'">
            {{ vm.media.name }}
        </span>
    </div>
    <div class="col-sm-4 media-list-item-field ellipsis">
        {{ vm.media.title }}
    </div>
    <div class="col-sm-1 media-list-item-field text-right">
        {{ vm.media.duration | playerTime }}
    </div>
    <div class="col-sm-3 media-list-item-field">
        <span ng-if="!vm.hideDate" class="ellipsis" style="padding-right: 20px;">
            {{ vm.media.modified | date:'yyyy-MM-dd HH:mm:ss' }}
        </span>
        <span class="media-list-item-hamburger" ng-if="vm.media.type !== 'directory'">
            <span uib-dropdown is-open="vm.isDropdownOpen" ng-click="$event.stopPropagation()">
                <a href uib-dropdown-toggle>
                    <span class="glyphicon glyphicon-menu-hamburger sorting-handle"></span>
                </a>
                <ul uib-dropdown-menu class="dropdown-menu-right">
                    <li ng-if="vm.isMovable">
                        <a href ng-click="vm.moveTo()"><i class="glyphicon glyphicon-share-alt"></i>
                            <span translate>Move to</span>&hellip;</a>
                    </li>
                    <li ng-if="vm.isRemovable">
                        <a href ng-click="vm.remove(); vm.isDropdownOpen=false;"><i class="glyphicon glyphicon-remove"></i>
                            <span translate>Remove</span></a>
                    </li>
                    <li ng-if="vm.canAddToDefault">
                        <a href ng-click="vm.addToDefault(); vm.isDropdownOpen=false;"><i class="glyphicon glyphicon-plus"></i>
                            <span translate>Add to Work list</span></a>
                    </li>
                </ul>
            </span>
         </span>
    </div>
</div>

<div uib-collapse="vm.chaptersCollapsed" ng-if="vm.showChapters && vm.media.chapterCount">
    <rame-media-item ng-repeat="item in vm.chapters" media="item" on-click="vm.onClick({ item: item })" add-to-default="vm.addToDefault({ item: item })" on-open-list="vm.onOpenList({ item: item })" hide-date="true" show-chapters="true"></rame-media-item>
</div>
