<ol class="breadcrumb">
    <li ng-repeat="listId in breadcrumbs track by $index" ng-class="{ 'last': $last }" ng-switch on="$last">
        <span ng-switch-when="true">{{ lists[listId].name }}</span>
        <a href="#" ng-click="activateSlide($index)" ng-switch-default>{{ lists[listId].name }}</a>
    </li>
    <li class="breadcrumb-menu">
        <span uib-dropdown>

            <span ng-show="lists[listId].saferemove"><strong>‼</strong>&nbsp;</span>

            <a href uib-dropdown-toggle>
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>

            <ul uib-dropdown-menu class="dropdown-menu-right">
                <li>
                    <a href ng-click="addDirToDefault()"><i class="glyphicon glyphicon-plus"></i>
                        <span translate>Add Directory To Work list</span></a>
                </li>
                <li>
                     <a href ng-click="openUploadModal()"><i class="glyphicon glyphicon-upload"></i>
                        <span translate>Upload Files&hellip;</span></a>
                </li>
                <li>
                   <a href ng-click="openDropboxModal()"><i class="glyphicon glyphicon-cloud-download"></i>
                        <span translate>Dropbox</span>&hellip;</a>
                </li>
                <li ng-show="lists[listId].saferemove">
                    <a href ng-click="safelyRemoveMedia()">
                        <i class="glyphicon glyphicon-eject"></i>
                        <span translate>Safely Remove USB Drive</span></a>
                </li>
            </ul>
        </span>
    </li>
</ol>
<div> <!-- carousel -->
    <uib-carousel interval="0" no-wrap="1" template-url="rameplayer/media/carousel/carousel.html">
        <uib-slide ng-repeat="slide in slides" active="slide.active" template-url="rameplayer/media/carousel/slide.html">
            <div class="media-list">
                <div class="row hidden-xs media-list-header">
                    <div class="col-sm-4" translate>Name</div>
                    <div class="col-sm-4" translate>Title</div>
                    <div class="col-sm-1 text-right" translate>Length</div>
                    <div class="col-sm-3" translate>Date</div>
                </div>
                <rame-media-item ng-repeat="item in lists[slide.listId].items | rameNonChapterItems" media="item" list="lists[slide.listId]" on-click="selectMedia(item)" add-to-default="addToDefault(item)" on-open-list="openList(item)" show-chapters="true"></rame-media-item>
            </div>
        </uib-slide>
    </uib-carousel>
</div> <!-- carousel -->
