<div class="row media-list-item" ng-class="{ selected: media.id === playerStatus.cursor.id }" ng-click="onClick()">
    <div class="col-sm-4 media-list-item-field ellipsis">
        {{ media.filename }}
    </div>
    <div class="col-sm-4 media-list-item-field ellipsis">
        {{ media.title }}
    </div>
    <div class="col-sm-1 media-list-item-field text-right">
        {{ media.duration | playerTime }}
    </div>
    <div class="col-sm-3 media-list-item-field">
        {{ media.modified | date:'yyyy-MM-dd HH:mm:ss' }}
        <span class="pull-right">
            <span uib-dropdown is-open="isDropdownOpen">
                <a href uib-dropdown-toggle ng-click="$event.stopPropagation();">
                    <span class="glyphicon glyphicon-menu-hamburger sorting-handle"></span>
                </a>
                <ul class="uib-dropdown-menu dropdown-menu-right">
                    <li ng-if="isMovable">
                        <a href ng-click="moveTo()"><i class="glyphicon glyphicon-share-alt"></i> Move to&hellip;</a>
                    </li>
                    <li ng-if="isRemovable">
                        <a href ng-click="remove()"><i class="glyphicon glyphicon-remove"></i> Remove</a>
                    </li>
                    <li ng-if="canAddToDefault">
                        <a href ng-click="$event.stopPropagation(); addToDefault(); toggleDropdown()"><i class="glyphicon glyphicon-plus"></i> Add to Default Playlist</a>
                    </li>
                </ul>
            </span>
         </span>
    </div>
</div>
