<uib-accordion-group is-open="isDefaultPlaylist">
    <uib-accordion-heading>
         <span ng-switch on="defaultPlaylist">
             <span ng-switch-when="true">Default</span>
             <span ng-switch-default>{{ playlist.title }}</span>
         </span>
         <span class="pull-right">
             <span uib-dropdown on-toggle="toggled(open)">
                 <a href uib-dropdown-toggle ng-click="$event.stopPropagation();">
                     <span class="glyphicon glyphicon-menu-hamburger"></span>
                 </a>
                 <ul class="uib-dropdown-menu dropdown-menu-right">
                     <li><a href><i class="glyphicon glyphicon-play"></i> Play</a></li>
                     <li ng-switch on="defaultPlaylist">
                         <a href ng-switch-when="true" ng-click="$event.stopPropagation(); saveAs({ playlist: playlist })">
                             <i class="glyphicon glyphicon-save"></i> Save as&hellip;
                         </a>
                         <a href ng-switch-default ng-click="$event.stopPropagation();">
                             <i class="glyphicon glyphicon-share-alt"></i> Move to&hellip;
                         </a>
                     </li>
                     <li ng-if="defaultPlaylist != 'true'">
                         <a href><i class="glyphicon glyphicon-lock"></i> Lock</a>
                     <li>
                     <li ng-switch on="defaultPlaylist">
                         <a href ng-switch-when="true"><i class="glyphicon glyphicon-remove"></i> Clear</a>
                         <a href ng-switch-default><i class="glyphicon glyphicon-remove"></i> Remove</a>
                     </li>
                 </ul>
             </span>
         </span>
    </uib-accordion-heading>

    <div class="media-list">
        <div class="row hidden-xs media-list-header">
            <div class="col-sm-4">File</div>
            <div class="col-sm-4">Title</div>
            <div class="col-sm-1 text-right">Length</div>
            <div class="col-sm-3">Date</div>
        </div>
        <div class="media-list-sortable" ng-sortable="sortableOptions">
            <rame-media-item ng-repeat="mediaItem in playlist.medias" media="mediaItem" remove="removeMedia({ playlist: playlist, media: mediaItem })"></rame-media-item>
        </div>
    </div>

    <uib-accordion close-others="false" ng-if="playlist.lists">
        TODO: Recursive playlist
        <rame-playlist-fix ng-repeat="playlis in playlist.lists"></rame-playlist-fix>
    </uib-accordion>
</uib-accordion-group>

