<uib-accordion-group is-open="isDefaultPlaylist">
    <uib-accordion-heading>
         <span ng-switch on="defaultPlaylist">
             <span ng-switch-when="true">Default</span>
             <span ng-switch-default>{{ lists[targetId].info.title }}</span>
         </span>
         <span class="pull-right">
             <span uib-dropdown on-toggle="toggled(open)">
                 <a href uib-dropdown-toggle ng-click="$event.stopPropagation();">
                     <span class="glyphicon glyphicon-menu-hamburger"></span>
                 </a>
                 <ul class="uib-dropdown-menu dropdown-menu-right">
                     <li>
                         <a href ng-click="$event.stopPropagation(); addStream({ playlist: targetId })">
                             <i class="glyphicon glyphicon-cloud"></i> Add Stream&hellip;
                         </a>
                     </li>
                     <li ng-switch on="defaultPlaylist">
                         <a href ng-switch-when="true" ng-click="$event.stopPropagation(); saveAs()">
                             <i class="glyphicon glyphicon-save"></i> Save as&hellip;
                         </a>
                         <a href ng-switch-default ng-click="$event.stopPropagation();" ng-if="false">
                             <i class="glyphicon glyphicon-share-alt"></i> Move to&hellip;
                         </a>
                     </li>
                     <li ng-if="false && defaultPlaylist != 'true'">
                         <a href><i class="glyphicon glyphicon-lock"></i> Lock</a>
                     <li>
                     <li ng-switch on="defaultPlaylist">
                         <a href ng-switch-when="true" ng-click="remove(); $event.stopPropagation()"><i class="glyphicon glyphicon-remove"></i> Clear</a>
                         <a href ng-switch-default ng-click="remove(); $event.stopPropagation()"><i class="glyphicon glyphicon-remove"></i> Remove</a>
                     </li>
                 </ul>
             </span>
         </span>
    </uib-accordion-heading>

    <div ng-if="!lists[targetId].items.length">Playlist is empty.</div>

    <div class="media-list" ng-if="lists[targetId].items.length">
        <div class="row hidden-xs media-list-header">
            <div class="col-sm-4" translate>Name</div>
            <div class="col-sm-4" translate>Title</div>
            <div class="col-sm-1 text-right" translate>Length</div>
            <div class="col-sm-3" translate>Date</div>
        </div>
        <div class="media-list-sortable" ng-sortable="sortableOptions">
            <rame-media-item ng-repeat="mediaItem in lists[targetId].items" media="mediaItem" remove="removeMedia({ playlist: targetId, media: mediaItem })" on-click="onMediaClick({ media: mediaItem })"></rame-media-item>
        </div>
    </div>

</uib-accordion-group>

