<div class="modal-header">
    <h3>Save Playlist As&hellip;</h3>
</div>

<form>
    <div class="modal-body">
        <input type="text" id="newPlaylistTitle" class="form-control" placeholder="Playlist name" ng-model="saveAs.playlistTitle" required>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="saveAs.save()">Save</button>
        <button class="btn btn-warning" type="button" ng-click="saveAs.cancel()">Cancel</button>
    </div>
</form>
