<form>
    <div class="modal-header">
        <h3><span translate>Dropbox</span></h3>
    </div>

    <div class="modal-body">
        <div ng-show="!vm.ready">
            <h4 translate>Loading...</h4>
        </div>
        <div ng-show="vm.ready && vm.account">
            <p>
                <span translate>This directory is connected to Dropbox account:</span><br>
                <strong>{{ vm.account.name.display_name }} &lt;{{ vm.account.email }}&gt;</strong>
            </p>
            <a href class="btn btn-danger" ng-click="vm.revoke()">
                <i class="glyphicon glyphicon-remove"></i>
                <span translate>Disconnect</span></a>
        </div>
        <div ng-show="vm.ready && !vm.account && !vm.pollerHandler">
            <p translate>When you connect your Dropbox here, content of Dropbox path will be automatically downloaded to this directory.</p>
            <div class="form-group">
                <label for="dropbox-path" translate>Dropbox Path</label>
                <input type="text" class="form-control" ng-model="vm.dropboxPath" placeholder="/RamePlayer" id="dropbox-path">
                <p class="help-block" translate>Path in your Dropbox which will be downloaded. Leave empty to download all.</p>
            </div>
            <a href target="_blank" class="btn btn-success" ng-click="vm.connect()">
                <i class="glyphicon glyphicon-new-window"></i>
                <span translate>Connect</span></a>
        </div>
        <div ng-show="vm.pollerHandler">
            <p translate>Authenticating, please wait...</p>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="vm.close()" translate>Close</button>
    </div>
</form>
