/* Playlists */
.panel-group rame-playlist .panel {
  margin-bottom: 5px;
}

.num-button {
    float: left;
    margin: 10px 0px 10px 0px;
    width: 75px;
    text-align: center;
}

.btn-song, .btn-bible-chapter, .btn-bible-verse {
    width: 50px;
}

.book-button {
    float: left;
    margin: 10px;
}

.col-playing {
    width: 30px;
}

/* z-index bug in last dropdown inside carousel */
.fcarousel .media-list {
  padding-bottom: 35px;
}

.breadcrumb > li.breadcrumb-menu {
  float: right;
}

.breadcrumb > li.breadcrumb-menu::before {
  content: none;
}

.animated-width {
  -webkit-transition: width 1s;
  transition: 1s width;
}

.media-list-header {
  font-weight: 700;
}

.media-list-header, .media-list-item {
  padding: 8px;
  line-height: 1.42857;
}

ul.media-list-sortable {
  list-style-type: none;
  padding: 0;
}

.media-list-item {
  border-top: 1px solid #35393D;
}

.cluster-stopped .media-list-item {
  cursor: pointer;
}

.media-list-item:hover,.media-list-item.sync-highlighted {
  background-color: rgb(58, 63, 68);
}

.media-list-item.chapter {
  color: #b0b0b0;
}

/* chapter indentation */
.media-list-item.chapter .media-list-item-field-name {
  padding-left: 35px;
}

.media-list-item-hamburger {
  position: absolute;
  right: 15px;
  top: 1px;
}

.media-list .selected {
  background-color: rgb(82, 87, 92);
}

.media-list .paused {
  background-color: rgb(158, 87, 8);
}

.media-list .locked {
  background-color: #751414;
}

.media-list-sync-icon {
  margin-right: 10px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.empty-playlist-holder {
  position: absolute;
  z-index: 10;
  margin-top: 5px;
}

.media-list-sortable {
  min-height: 25px;
  z-index: 11;
}

.media-list-sortable .sorting-handle {
  cursor: ns-resize;
}

.folders {
  list-style: outside none none;
}

.folders > li {
  width: 120px;
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  text-align: center;
  vertical-align: top;
}

.icon-folder {
  font-size: 4em;
}
