@font-face{
    font-family:"PT Serif Caption";
    font-style:normal;
    font-weight:400;
    src:local("Cambria"),local("PT Serif Caption"),local("PTSerif-Caption"),url(../fonts/ptserifcaption.woff)format('woff')
}

@font-face{
    font-family:"Open Sans Light";
    font-style:normal;
    font-weight:300;
    src:local("Segoe UI Light"),local("Open Sans Light"),local("OpenSans-Light"),url(../fonts/opensans_light.woff)format('woff')
}

@font-face{
    font-family:"Open Sans";
    font-style:normal;
    font-weight:400;
    src:local("Segoe UI"),local("Open Sans"),local("OpenSans"),url(../fonts/opensans.woff)format('woff')
}

@font-face{
    font-family:"Open Sans Bold";
    font-style:normal;
    font-weight:700;
    src:local("Segoe UI Bold"),local("Open Sans Bold"),local("OpenSans-Bold"),url(../fonts/opensans_bold.woff)format('woff')
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
    margin: 2px;
    padding-bottom: 150px;
    font-family: "Segoe UI","Open Sans",sans-serif,serif;
}

/* Changes to default Bootstrap CSS */

/* no rounded corners */
.btn { border-radius: 0; }
.nav-pills a, .nav-tabs a { border-radius: 0 !important; }
.form-control { border-radius: 0; }
.breadcrumb { border-radius: 0; }

.nav-pills > li a {
  font-weight: 700;
  text-transform: uppercase;
}

.tab-content {
    padding: 10px 10px 10px 10px;
}

/* Angular Bootstrap requires this */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Cursor in Bootstrap Carousel */
.carousel { cursor: auto !important; }

/* Bug when using Bootstrap breadcrumbs with Angular ng-repeat, needs
 * a white space between <li> elements. */
.breadcrumb > li+li:before {
  content: "\00a0/\00a0";
}

/* Settings */
#add-unit-form {
  margin-top: 10px;
}

/* Cluster Unit Status */
.cluster-unit-status {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.hidden-file-input {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  text-align: right;
  opacity: 0;
  cursor: inherit;
  display: block;
}
.cluster-import-button {
  cursor: pointer;
}

.cluster-import-button+input[type="file"] {
  display: none;
}

/* Disable underlining when hovering panel titles */
.panel-title a:hover {
  text-decoration: none;
}

/* Toastr dark shadow */
#toast-container > div {
  box-shadow: 0 0 12px #000000;
}

/* Admin Settings */

/* IP address input */
.form-control.ip-input {
  display: inline;
  width: 60px;
}

.horizontal-collapse {
  visibility: hidden;
  width: 0;
  overflow: hidden;
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.horizontal-collapse.open {
  width: 100%;
  visibility: visible;
}

.rame-logo {
  cursor: pointer;
}

.progress-striped.active {
  margin-top: 20px;
}
