<!DOCTYPE html>
<html ng-app="rameplayer">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RamePlayer</title>
    <link rel="icon" type="image/png" href="images/favicon.png">

    <!-- inject-vendor:css -->
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="../bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css">
    <link rel="stylesheet" href="../bower_components/angular-toastr/dist/angular-toastr.css">
    <!-- endinject -->

    <!-- inject:css -->
    <link href="css/bootstrap-colorselector.css" rel="stylesheet" />
    <link href="css/rameplayer.css" rel="stylesheet" />
    <link href="css/media.css" rel="stylesheet" />
    <link href="css/range.css" rel="stylesheet" />
    <link href="fonts/fonts.css" rel="stylesheet" />
    <!-- endinject -->

    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body>
    <rame-device-info></rame-device-info>
    <div class="container" ng-controller="MediaController as vmmc" ng-cloak>
        <uib-tabset type="pills">
            <uib-tab ng-repeat="targetId in vmmc.rootChildren">
                <tab-heading translate>{{ vmmc.lists[targetId].info.title }}</tab-heading>
                <rame-media-list target-id="targetId"></rame-media-list>
            </uib-tab>
            
            <uib-tab>
                <tab-heading translate>Playlists</tab-heading>
                <div class="row" ng-controller="PlaylistsController as vm">
                    <div class="col-sm-12">
                        <uib-accordion close-others="false">
                            <rame-playlist default="true" remove-media="vm.removeMedia(playlist, media)" on-sort="vm.playlistSorted(targetId, item, oldIndex, newIndex)" add-stream="vm.addStream(playlist)" on-media-click="vm.selectMedia(media)"></rame-playlist>
                            <rame-playlist ng-repeat="targetId in vm.playlists" target-id="targetId" remove-media="vm.removeMedia(playlist, media)" on-sort="vm.playlistSorted(targetId, item, oldIndex, newIndex)" add-stream="vm.addStream(playlist)" on-media-click="vm.selectMedia(media)"></rame-playlist>
                        </uib-accordion>
                    </div> <!-- .col -->
                </div> <!-- .row -->
            </uib-tab>

            <uib-tab>
                <tab-heading>
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                </tab-heading>
                <!-- <h1 translate>Settings</h1> -->
                <div class="row" ng-include="'rameplayer/settings/settings.html'" ng-cloak>
                
                </div>
            </uib-tab>
        </uib-tabset>
    </div> <!-- .container -->

    <!-- player controls -->
    <nav class="navbar navbar-default navbar-fixed-bottom" ng-include="'rameplayer/player/player.html'" ng-cloak>
    </nav>

    <script>
        var rameServerConfig = { basePath: 'stubs/', simulation: true };
    </script>

    <!-- inject-vendor:js -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="../bower_components/angular-uuid-generator/angular-uuid-generator.js"></script>
    <script src="../bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <script src="../bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="../bower_components/Sortable/Sortable.min.js"></script>
    <script src="../bower_components/Sortable/ng-sortable.js"></script>
    <script src="../bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <!-- endinject -->

    <!-- application -->

    <!-- inject:js -->
    <script src="rameplayer/rameplayer.module.js"></script>

    <!-- directives module -->
    <script src="rameplayer/directives/directives.module.js"></script>
    <script src="rameplayer/directives/ip-address-block.directive.js"></script>
    <script src="rameplayer/directives/device-info.directive.js"></script>
    <script src="rameplayer/directives/ng-bootstrap-colorselector.js"></script>

    <!-- admin settings module -->
    <script src="rameplayer/admin/admin.module.js"></script>
    <script src="rameplayer/admin/admin.js"></script>

    <!-- core module -->
    <script src="rameplayer/core/core.module.js"></script>
    <script src="rameplayer/core/constants.js"></script>
    <script src="rameplayer/core/config.js"></script>
    <script src="rameplayer/core/dataservice.js"></script>
    <script src="rameplayer/core/exception.js"></script>
    <script src="rameplayer/core/simulation-dataservice.js"></script>
    <script src="rameplayer/core/statusservice.js"></script>
    <script src="rameplayer/core/cluster-service.js"></script>
    <script src="rameplayer/core/list-service.js"></script>
    <script src="rameplayer/core/list-provider.js"></script>

    <!-- playback module -->
    <script src="rameplayer/player/player.module.js"></script>
    <script src="rameplayer/player/player.js"></script>
    <script src="rameplayer/player/playertime.js"></script>

    <!-- media module -->
    <script src="rameplayer/media/media.module.js"></script>
    <script src="rameplayer/media/media.js"></script>
    <script src="rameplayer/media/media-list.directive.js"></script>
    <script src="rameplayer/media/media-item.directive.js"></script>

    <!-- playlists module -->
    <script src="rameplayer/playlists/playlists.module.js"></script>
    <script src="rameplayer/playlists/playlists.js"></script>
    <script src="rameplayer/playlists/playlist.directive.js"></script>
    <script src="rameplayer/playlists/save-as-modal.js"></script>
    <script src="rameplayer/playlists/add-stream-modal.js"></script>
    <script src="rameplayer/playlists/edit-modal.js"></script>

    <!-- settings module -->
    <script src="rameplayer/settings/settings.module.js"></script>
    <script src="rameplayer/settings/settings.js"></script>
    <script src="rameplayer/settings/cluster-unit.directive.js"></script>
    <script src="rameplayer/settings/remove-unit-modal.js"></script>
    <!-- endinject -->

    <script>angular.module('rameplayer.core').constant('uiVersion', 'development');</script>
</body>
</html>
