<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link href="//gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="css/rameplayer.css" rel="stylesheet">
    <title>RaMePlayer</title>
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body>
    <div class="container" ng-controller="MediaController as media" ng-cloak>
        <tabset type="pills">
            <tab heading="USB">
                <div class="media-list">
                    <div class="row hidden-xs media-list-header">
                        <div class="col-sm-4">File</div>
                        <div class="col-sm-4">Title</div>
                        <div class="col-sm-1">Length</div>
                        <div class="col-sm-3">Date</div>
                    </div>
                    <div class="row media-list-item" ng-repeat="mediaItem in media.lists[0].medias" ng-class="{ selected: mediaItem === media.selectedMedia }" ng-click="media.selectMedia(mediaItem)">
                        <div class="col-sm-4 media-list-item-field ellipsis">
                            {{ mediaItem.filename }}
                        </div>
                        <div class="col-sm-4 media-list-item-field ellipsis">
                            {{ mediaItem.title }}
                        </div>
                        <div class="col-sm-1 media-list-item-field">
                            {{ mediaItem.duration | playerTime }}
                        </div>
                        <div class="col-sm-3 media-list-item-field">
                            {{ mediaItem.created | date:'yyyy-MM-dd HH:mm:ss' }}
                        </div>
                    </div>
                </div>
            </tab>

            <tab heading="PLAYLISTS">
                <div class="row" ng-controller="PlaylistsController as playlists">
                    <div class="col-sm-12">
                        <uib-accordion close-others="false">
                            <rame-playlist default="true" playlist="playlists.defaultPlaylist"></rame-playlist>
                            <rame-playlist ng-repeat="playlist in playlists.playlists" playlist="playlist"></rame-playlist>
                        </uib-accordion>
                    </div> <!-- .col -->
                </div> <!-- .row -->
            </tab>

            <tab>
                <tab-heading>
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                </tab-heading>
                <h1 translate>Settings</h1>
                <div ng-include="'rameplayer/settings/settings.html'" ng-cloak>
                
                </div>
                <!-- <div class="row">
                    <div class="col-md-6">
                        <form>
                            <div class="form-group">
                                <label for="language">Language</label>
                                <select name="language" id="language" class="form-control">
                                    <option>English</option>
                                    <option>Latviešu</option>
                                    <option>Lietuvių kalba</option>
                                    <option>suomi</option>
                                    <option>eesti</option>
                                    <option>汉语</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="hostname">Hostname</label>
                                <input type="text" name="hostname" id="hostname" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>DHCP Server</label>
                                <br>
                                <input checked data-toggle="toggle" type="checkbox" name="dhcp" id="dhcp-server">
                            </div>
                            <div class="form-group">
                                <label>IP</label>
                                <input type="text" name="ip" id="ip" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Volume</label>
                                <input type="range" name="volumne" id="volume" class="form-control"/>
                            </div>
                            <button type="submit" class="btn btn-default">Save</button>
                        </form>
                    </div> .col
                </div> .row
             -->
             </tab>
        </tabset>
    </div> <!-- .container -->

    <!-- player controls -->
    <nav class="navbar navbar-default navbar-fixed-bottom" ng-include="'rameplayer/player/player.html'" ng-cloak>
    </nav>

    <!-- libraries -->
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="//gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.8.1/angular-translate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js"></script>
    <script src="//rubaxa.github.io/Sortable/ng-sortable.js"></script>
    <script src="lib/angular-uuid.js"></script>

    <!-- application -->
    <script src="rameplayer/rameplayer.module.js"></script>
    
    <!-- admin settings module -->
    <script src="rameplayer/admin/admin.module.js"></script>
    <script src="rameplayer/admin/admin.js"></script>

    <!-- core module -->
    <script src="rameplayer/core/core.module.js"></script>
    <script>
        angular.module('rameplayer.core').value('settingsUrl', 'stubs/settings.json');
        //angular.module('rameplayer.core').value('settingsUrl', '/settings/user');
        //angular.module('rameplayer.core').value('settingsUrl', 'http://10.0.0.15:8000/settings/user');
    </script>
    <script src="rameplayer/core/bootstrap.js"></script>
    <script src="rameplayer/core/config.js"></script>
    <script src="rameplayer/core/dataservice.js"></script>
    <script src="rameplayer/core/playerservice.js"></script>

    <!-- playback module -->
    <script src="rameplayer/player/player.module.js"></script>
    <script src="rameplayer/player/player.js"></script>
    <script src="rameplayer/player/playertime.js"></script>

    <!-- media module -->
    <script src="rameplayer/media/media.module.js"></script>
    <script src="rameplayer/media/media.js"></script>
    <script src="rameplayer/media/media-item.directive.js"></script>

    <!-- playlists module -->
    <script src="rameplayer/playlists/playlists.module.js"></script>
    <script src="rameplayer/playlists/playlists.js"></script>
    <script src="rameplayer/playlists/playlist.directive.js"></script>

    <!-- settings module -->
    <script src="rameplayer/settings/settings.module.js"></script>
    <script src="rameplayer/settings/settings.js"></script>

</body>

</html>
