<form>
    <div class="modal-header">
        <h3><span translate>Save Playlist</span></h3>
    </div>

    <div class="modal-body">
        <div ng-class="{ 'has-warning': saveAs.titleExists }">
            <div class="form-group">
                <label for="newPlaylistTitle" translate>Name</label>
                <input type="text" id="newPlaylistTitle" class="form-control" placeholder="{{ 'Playlist name' | translate }}" ng-model="saveAs.title" ng-change="saveAs.titleChanged()" required>
                <p class="help-block" ng-show="saveAs.titleExists" translate>
                    Playlist with this name exists already. This playlist will overwrite existing one!
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="newPlaylistStorage" translate>Storage</label>
            <select id="newPlaylistStorage" class="form-control" name="storage" ng-model="saveAs.storage" ng-options="storage.value as storage.name for storage in saveAs.storageOptions">
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="saveAs.bootList" ng-change="saveAs.bootListChanged()"> <span translate>Play this when device starts</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="saveAs.autoPlayNext" ng-disabled="saveAs.bootList"> <span translate>Continuous play, repeating all</span>
            </label>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="saveAs.save()" translate>Save</button>
        <button class="btn btn-warning" type="button" ng-click="saveAs.cancel()" translate>Cancel</button>
    </div>
</form>
